{% extends 'base.html' %} {% load i18n %}

{% block navigation %} {% url 'index' as index %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ index }}">BarKeeper</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">{% trans 'Recipes' %}</a></li>
            <li><a href="#">{% trans 'Ingredients' %}</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>Hallo Welt!</h1>
{% endblock %}